[submodule "tmp/.tmux"]
	path = tmp/.tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
