*
!.config/
!.config/**/*
.config/BraveSoftware/
.config/Code/
.config/GIMP/
.config/Microsoft/
.config/QtProject.conf
.config/Slack/
.config/VirtualBox/
.config/chromium/
.config/dconf/
.config/enchant/
.config/eog/
.config/evince/
.config/evolution/
.config/freerdp/
.config/gedit/
.config/gnome-control-center/
.config/goa-1.0/
.config/gtk-2.0/
.config/gtk-3.0/
.config/helm/
.config/htop/
.config/ibus/
.config/inkscape/
.config/libreoffice/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/nvim/ftplugin/
.config/nvim/plugged/
.config/pulse/
.config/syncthing/
.config/torbrowser/
.config/totem/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zoomus.conf
