[user]
	name = Mickaël Canévet
	email = mickael.canevet@gmail.com
[color]
	ui = true
[filter "keepassxc"]
	clean = sed -e '/^MainWindowGeometry=/d' -e '/^MainWindowState=/d' -e '/^ListViewState=/d' -e '/^PreviewSplitterState=/d' -e '/^SplitterState=/d'
	smudge = cat
