[user]
	name = Mickaël Canévet
	email = mickael.canevet@gmail.com
[core]
	pager = ~/bin/diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[filter "keepassxc"]
	clean = sed -e '/^MainWindowGeometry=/d' -e '/^MainWindowState=/d' -e '/^ListViewState=/d' -e '/^PreviewSplitterState=/d' -e '/^SplitterState=/d'
	smudge = cat
